* {
	outline:0;
	margin:0;
	padding:0;
}
body, td, th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}
a {
	color:inherit;
	text-decoration:underline;
}
a:hover {
	color:#317E8C;
}
a img {
	border:0;
}
.inner {
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
.header {
	background-image:url(images/hbg_02.gif);
	height:242px;
	overflow:hidden;
	font-size:0;
	margin-top:3px;
}
.header .inner {
	position:relative;
}
.header h1 {
	background-image:url(images/hbg_01.gif);
	background-repeat:no-repeat;
	width:250px;
	height:242px;
}
.header h1 a {
	display:block;
	width:248px;
	height:242px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-position:center;
	border-radius:121px;
}
.header h1 a:hover	{
	opacity:0.8;
}
.header .main_menu {
	list-style:none;
	right:0;
	position:absolute;
	top:115px;
}
.header .main_menu li {
	display:inline;
}
.header .main_menu li a {
	font-size:14px;
	color:#999999;
	display:inline-block;
	text-decoration:none;
	margin-left:25px;
	margin-right:20px;
	text-transform:uppercase;
}
.header .main_menu li a:hover {
	color:#317E8C;
}
.main {
	font-size:0;
}
.main .sidebar {
	width:250px;
	display:inline-block;
	font-size:12px;
	vertical-align:top;
}
.main .maincontent {
	width:650px;
	display:inline-block;
	font-size:12px;
	vertical-align:top;
}
.main .pad {
	padding:10px;
}
.search {
	padding-bottom:20px;
}
.search .search_box {
	position:relative;
	border:1px solid #CCCCCC;
	overflow:hidden;
	font-size:0;
}
.search .search_box input {
	border:0 !important;
	background:transparent;
}
.search .search_box input[type=text] {
	font-size:12px !important;
	padding:7px 10px !important;
	width:100% !important;
	font-family:Arial, Helvetica, sans-serif;
	border-radius:0!important;
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
	box-shadow:none!important;
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	border-color: #8fb8c6;
	outline: none;
}
.search .search_box input[type=submit] {
	background-color:#fff;
	background:url(images/search_icon.gif) no-repeat center;
	font-size:0;
	height:29px;
	width:32px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}
.para {
	line-height:150%;
}
.para p {
	margin-top:5px;
	margin-bottom:5px;
}
.para ul, .para ol {
	padding-left:30px;
	margin-top:5px;
	margin-bottom:5px;
}
.newsfeed {
	list-style:none;
}
.newsfeed li {
	padding:10px;
	padding-left:90px;
	min-height:70px;
	border-bottom:1px solid #eee;
}
.newsfeed li:last-child {
	border-bottom:0;
}
.newsfeed li:first-child {
	padding-top:0;
}
.newsfeed li .pic {
	width:70px;
	height:70px;
	overflow:hidden;
	border:1px solid #666;
	border-top-color:#777;
	border-bottom-color:#555;
	border-radius:3px;
	margin-left:-80px;
	float:left;
	box-shadow:0 1px 2px rgba(0,0,0,0.3);
	transition: box-shadow .7s ease-in-out;
	-moz-transition: box-shadow .7s ease-in-out;
	-webkit-transition: box-shadow .7s ease-in-out;
}
.newsfeed li:hover .pic {
	box-shadow:0 2px 3px rgba(0,0,0,0.5);
}
.newsfeed li .pic img {
	width:70px;
	height:70px;
}
.newsfeed li .pic .calendar {

}
.newsfeed li .pic .calendar .month {
	/*background: #D6534A;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e17e78', endColorstr='#D6534A');
	background: -webkit-gradient(linear, left top, left bottom, from(#e17e78), to(#D6534A));
	background: -moz-linear-gradient(top,  #e17e78,  #D6534A);
	border: 0;
	border-top: solid #ecb1ad 1px;
	border-bottom: solid #6b2a25 1px;*/
	background: #358692;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a5ae', endColorstr='#358692');
	background: -webkit-gradient(linear, left top, left bottom, from(#68a5ae), to(#358692));
	background: -moz-linear-gradient(top, #68a5ae, #358692);
	border: 0;
	border-top: solid #a4c8ce 1px;
	border-bottom: solid #27646d 1px;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	padding:3px;
}
.newsfeed li .pic .calendar .day {
	font-size:30px;
	text-align:center;
	font-weight:bold;
	line-height:47px;
}
.newsfeed li .name {
	font-size:14px;
	font-weight:bold;
	padding-bottom:3px;
}
.newsfeed li .body {
	line-height:130%;
}
.newsfeed li .stamp {
	color:#999999;
	font-size:11px;
	padding-top:3px;
}
.newsfeed li .tagline {
	color:#999999;
	padding-bottom:2px;
	font-size:12px;
}
.newsfeed li.news {
	padding-left:10px;
}
.newsfeed li.news ul {
	list-style:none;
	font-size:0;
}
.newsfeed li.news ul li {
	width:33%;
	padding:0;
	display:inline-block;
	vertical-align:top;
	border-bottom:0;
}
.newsfeed li.news ul li a {
	display:block;
	padding:5px;
	margin-left:5px;
	margin-right:5px;
	font-size:12px;
	border:1px solid #ddd;
	border-top-color:#e1e1e1;
	border-bottom-color:#ccc;
	overflow:hidden;
	text-decoration:none;
}
.newsfeed li.news ul li a .title {
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding-bottom:5px;
}
.newsfeed li.news ul li a .image {
	width:100%;
	max-height:120px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.newsfeed li.news ul li a .image img {
	max-width:100%;
	height:auto;
	border:0 !important;
}
.newsfeed li.news ul li a .desc {
	color:#333 !important;
	font-style:italic;
	padding-top:5px;
}
.newsfeed li .oembed {
	display:block;
	padding:10px;
}
.newsfeed li .oembed a {
	border:1px solid #ccc;
	display:block;
	padding:10px;
	background-color:#f8f8f8;
	text-decoration:none;
	color:#000;
	padding-left:115px;
	min-height:75px;
	box-shadow:0 1px 2px rgba(0,0,0,0.3);
	transition: box-shadow .9s ease-in-out;
	-moz-transition: box-shadow .9s ease-in-out;
	-webkit-transition: box-shadow .9s ease-in-out;
	overflow:hidden;
}
.newsfeed li .oembed a:hover {
	box-shadow:0 2px 3px rgba(0,0,0,0.5);
}
.newsfeed li .oembed a .media {
	float:left;
	margin-left:-105px;
	max-height:75px;
	width:100px;
	overflow:hidden;
}
.newsfeed li .oembed a .media img {
	max-width:100px;
	height:auto;
}
.newsfeed li .oembed a .title {
	font-weight:bold;
	font-size:14px;
	padding-bottom:3px;
}
.newsfeed li .oembed a .url {
	font-style:italic;
	padding-top:3px;
	color:#31738c;
}
.newsfeed .compose textarea {
	width:95%;
	height:50px;
	max-width:95%;
}
.newsfeed .compose input[type=submit] {
	display:block;
}
.morelink {
	display:block;
	background-color:#f8f8f8;
	padding:10px;
	text-align:center;
	text-decoration:none;
}
.morelink:hover {
	background-color:#eee;
	color:#333333;
	text-decoration:underline;
	padding-top:10px;
	padding-bottom:10px;
}
.gallery {
	list-style:none;
	font-size:0;
}
.gallery li {
	display:inline;
	padding:0;
	min-height:0;
	border-bottom:0;
}
.gallery li a {
	border:1px solid #44abbd;
	display:inline-block;
	padding:2px;
	margin:3px;
}
.gallery li a:hover {
	border-color:#286773;
}
.gallery li a img {
	max-height:140px;
	max-width:auto;
}
.footer {
	padding-top:20px;
	padding-bottom:20px;
}
.footer ul {
	list-style:none;
	font-size:0;
}
.footer ul li {
	font-size:11px;
	color:#999999;
	display:inline-block;
	padding-right:15px;
}
.alert {
	border:1px solid transparent;
	padding:10px 20px;
	font-family:Arial, sans-serif;
	line-height:140%;
	font-size:13px;
	border-left-width:4px;
	border-radius:3px;
	margin-bottom:10px;
}
.alert.success {
	background-color:#dff0d8;
	border-color:#bcdba1;
	color:#468847;
}
.alert.error {
	background-color:#f2dede;
	border-color:#e0aeb6;
	color:#b94a48;
}
.alert.info {
	background-color:#e9f1f4;
	border-color:#b0cdd8;
	color:#4a8194;
}
.pw_strengthIndicator .strength {
	border-top: 6px solid #eee;
	display: inline-block;
	padding: 3px;
	padding-top: 6px;
	margin-right: 10px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial;
}
.pw_strengthIndicator .strength.weak.pass {
	border-top-color:#cf2338;
}
.pw_strengthIndicator .strength.medium.pass {
	border-top-color:#f2fb2b;
}
.pw_strengthIndicator .strength.strong.pass {
	border-top-color:#07860e;
}
@media screen and (max-width: 900px) {
	.inner {
		width:100%;
	}
	.header {
		background:#f8f8f8;
		height:auto;
		margin:0;
		padding-top:8px;
	}
	.header h1 {
		background:transparent;
		width:100%;
		height:180px;
	}
	.header h1 a {
		width:100%;
		height:180px;
		background-size:180px 180px;
	}
	.header .main_menu {
		position:relative;
		top:auto;
		text-align:center;
		margin-top:10px;
		margin-bottom:10px;
	}
	.header .main_menu li a {
		font-size:13px;
		margin-left:10px;
		margin-right:10px;
		margin-top:5px;
		margin-bottom:5px;
	}
	.main .sidebar {
		width:100%;
	}
	.main .sidebar .sidebar_content {
		display:none;
	}
	.main .maincontent {
		width:100%;
		overflow:hidden;
	}
	.footer ul li {
		font-size:11px;
		color:#999999;
		display:block;
		padding:5px;
		text-align:center;
	}
	.search {
		padding-bottom:0;
	}
}
@media screen and (max-width: 360px) {
	.newsfeed li.news ul li {
		width:100%;
		margin-bottom:5px;
	}
	.newsfeed li .oembed a {
		padding-left:10px;
		min-height:0;
	}
	.newsfeed li .oembed a .media {
		float:none;
		margin-left:0;
		max-height:100px;
		width:100%;
		overflow:hidden;
	}
	.newsfeed li .oembed a .media img {
		max-width:100%;
		height:auto;
	}
}
.form_label {
	display:inline-block;
	font-size:13px;
	width:160px;
	vertical-align:top;
	line-height:38px;
	text-align:right;
	padding-right:10px;
}
.form_element {
	display:inline-block;
	vertical-align:top;
	line-height:28px;
	padding:5px;
}
input[type=text], input[type=email], input[type=password], .fakeinput, textarea {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
	display: inline-block;
	font-size: 13px;
	padding: 5px 10px;
	width: 240px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	border-color: #8fb8c6;
	outline: none;
}
textarea {
	height:100px;
	width:400px;
	max-width:400px;
	max-height:300px;
}
ul.buttons {
	list-style:none;
	padding:0;
	margin:0;
}
.buttons li {
	display:inline;
}
.form_element:first-child, .aButtons div, .block_button, .buttons li, .button {
	display: inline-block;
	border: solid #255e66 1px;
	border-bottom: solid #1b4349 1px;
	cursor: pointer;
	margin: 2px;
	border-radius:2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .6);
	padding:0;
	background-color:#358692;
	overflow:hidden;
	min-height:0 !important;
}
.form_element:first-child {
	margin-left:182px;
}

.form_element:first-child input[type=submit], .aButtons div button, .block_button a, .buttons li a, .buttons li input, .button a, .button input {
	background: #358692;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a5ae', endColorstr='#358692');
	background: -webkit-gradient(linear, left top, left bottom, from(#68a5ae), to(#358692));
	background: -moz-linear-gradient(top,  #68a5ae,  #358692);
	border: 0;
	border-top: solid #a4c8ce 1px;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: 700;
	font-size:12px;
	padding:6px 20px;
	margin:0;
	border-radius:0;
}
.form_element:first-child input[type=submit]:hover, .aButtons div button:hover, .block_button a:hover, .buttons li a:hover, .buttons li input:hover, .button a:hover, .button input:hover {
	background: #68a5ae;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb0b8', endColorstr='#358692');
	background: -webkit-gradient(linear, left top, left bottom, from(#7bb0b8), to(#358692));
	background: -moz-linear-gradient(top,  #7bb0b8,  #358692);
	text-decoration:none;
	color:#FFFFFF;
}
.form_element:first-child:active, .aButtons div:active, .block_button:active, .buttons li a:active, .buttons li input:active, .button a:active, .button input:active {
	box-shadow: 0 0 0;
}
.block_button {
	display:block;
	margin-bottom:10px;
}
.block_button a {
	display:block;
}
ul.button_page {
    list-style: none;
    padding: 0;
    margin: 0;
}
.button_page li a {
    display: block;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    text-decoration: none;
    padding-left: 24px;
}
.button_page strong {
    display: block;
    font-size: 14px;
}
.button_page li a:hover {
    background-color: #f4f4f4;
}
@media screen and (max-width: 320px) {
	.form_label {
		text-align:left;
		display:block;
		width:auto;
	}
	.form_element:first-child {
		margin-left:auto;
		margin-right:auto;
	}
	.form_element:first-child {
		display:block;
		overflow:hidden;
		text-align:center;
		margin-top:20px;
	}
	.form_element:first-child input[type=submit], .form_element:first-child a {
		display:block;
		width:100%;
	}
}
.directory {
	list-style:none;
}
.directory li {
	border:1px solid #eee;
	margin-bottom:10px;
	padding:10px;
	min-height:100px;
	padding-left:120px;
}
.directory li .image {
	width:100px;
	overflow:hidden;
	margin-left:-110px;
	float:left;
}
.directory li .image a img {
	border:0 !important;
	max-width:100px;
	height:auto;
	max-height:100px;
	width:auto;
}
.directory li .name {
	font-weight:bold;
	font-size:14px;
	padding-bottom:3px;
}
.directory li .description {
	line-height:120%;
	font-size:14px;
	margin-top:3px;
	margin-bottom:3px;
}
h2 {
	padding-bottom:10px;
}
.page .page_header {
	border-bottom:1px solid #ccc;
	min-height:100px;
	padding-bottom:5px;
}
.page .page_header .image {
	float:right;
	
}
.page .page_header .image img {
	max-height:100px;
	width:auto;
}
.page .page_info {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}
.page .page_info.w_map {
	min-height:250px;
}
.page .page_info .description {
	line-height:150%;
	font-size:14px;
	border-left:5px solid #f8f8f8;
	padding:5px;
	margin-left:2px;
	margin-top:5px;
}
.page .page_info #map-canvas {
	height:250px;
	width:300px;
	float:right;
}
.page .newsfeed {
	margin-top:10px;
}
.attachments {
    border: 2px dashed #ccc;
    padding: 10px;
    margin: 10px;
}
.attachments .attachment {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
.attachments .attachment.loading {
	background:url(images/ajax-loader.gif) no-repeat center;
}

@media screen and (max-width: 320px) {
	.page .page_header {
		min-height:0;
		padding-bottom:5px;
	}
	.page .page_header .image {
		float:none;
		display:block;
		text-align:center;
		margin-bottom:3px;
	}
	.page .page_header .image img {
		max-width:100%;
		height:auto;
	}
	.page .page_info {
		padding-top:5px;
		padding-bottom:5px;
		border-bottom:1px solid #ccc;
	}
	.page .page_info.w_map {
		min-height:0px;
	}
	.page .page_info .description {
		border-left:0;
		margin-left:0;
	}
	.page .page_info #map-canvas {
		height:200px;
		width:100%;
		float:none;
	}
}

.appriseOverlay {
	position:fixed;
	top:0;
	left:0;
	background: rgba(255, 255, 255, 0.8);
	display:none;
}
.appriseOuter {
	background: #FFF;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
	position:absolute;
	z-index:99999999;
	min-width:200px;
	min-height:50px;
	max-width:75%;
	position:fixed;
	display:none;
}
.appriseInner {
	padding:20px;
	color:#333;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size:14px;
}
.appriseInner.text {
	width:500px;
}
.aInput {
	margin:20px 10px 0px 10px;
	text-align:center;
}
.aButtons {
	padding: 6px;
	text-align:center;
	border-top: 1px solid #aaa;
	background-color: #EEE;
	box-shadow: inset 0 1px 0px white;
	text-align:right;
}
.aTextbox {
	border:1px solid #aaa;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	box-shadow:0px 1px 0px #fff;
	-moz-box-shadow:0px 1px 0px #fff;
	-webkit-box-shadow:0px 1px 0px #fff;
	width:180px;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px;
}

.payment_method {
	min-height:64px;
	background-color:#fcfcfc;
	padding:5px;
	margin-bottom:10px;
	padding-left:112px;
	border-radius:2px;
	position:relative;
}
.payment_method .method_type {
	height:64px;
	width:102px;
	margin-left:-107px;
	float:left;
	clear:right;
}
.payment_method .method_type.visa {
	background-image:url(images/payment_icons/visa-straight-64px.png);
}
.payment_method .method_type.american_express {
	background-image:url(images/payment_icons/american-express-straight-64px.png);
}
.payment_method .method_type.mastercard {
	background-image:url(images/payment_icons/mastercard-straight-64px.png);
}
.payment_method .method_type.discover {
	background-image:url(images/payment_icons/discover-straight-64px.png);
}
.payment_method .method_name {
	font-size:14px;
	font-weight:bold;
}
.payment_method .method_num {
	font-size:12px;
}
.payment_method .actions {
	list-style:none;
	float:right;
	width:120px;
	margin-top:-45px;
}
.payment_method .actions li {
	display:inline;
}
.payment_method .actions li a {
	text-decoration:none;
	background-color:#eee;
	display:block;
	text-align:center;
	padding:5px;
	margin:5px;
	border-radius:3px;
	color:#333;
	font-size:12px;
}
.payment_method .actions li a:hover {
	background-color:#ddd;
}
.fs0 {
	font-size:0;
}
.calendars_left {
	width:365px;
	display:inline-block;
	vertical-align:top;
}
.list_right {
	width:265px;
	display:inline-block;
	vertical-align:top;
}
.list_right h3 {
	font-size:16px;
	height:19px;
}
.big_calendar {
	border: 1px solid #666;
	border-top-color: #777;
	border-bottom-color: #555;
	border-radius:3px;
	overflow:hidden;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	margin-bottom:15px;
	font-size:0;
	width:350px;
}
.big_calendar .cal_head {
	background: #358692;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a5ae', endColorstr='#358692');
	background: -webkit-gradient(linear, left top, left bottom, from(#68a5ae), to(#358692));
	background: -moz-linear-gradient(top, #68a5ae, #358692);
	border: 0;
	border-top: solid #a4c8ce 1px;
	border-bottom: solid #27646d 1px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	padding: 8px;
}
.big_calendar .cell {
	width:50px;
	height:38px;
	display:inline-block;
	vertical-align:top;
	font-size:12px;
	text-align:center;
	line-height:38px;
}
.big_calendar a.cell {
	font-weight:bold;
	background-color:#f8f8f8;
	text-decoration:none;
}
.big_calendar a.cell:hover {
	background-color:#eee;
}
.big_calendar .cell.head {
	font-weight:bold;
	height:30px;
	line-height:30px;
}
.big_calendar .cell.today {
	background-color:#e2f2f5;
}
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

.table {
	width:100%;
}
.table th{
	background-color:#eff8f9;
	border-bottom:2px solid #43a8b7;
	padding:3px;
}
.table td{
	padding:3px;
}
.table tr:nth-child(odd){
	background-color:#d6edf0;
}




.mobileonly, .mobileinlineb {
	display:none !important;
}
@media screen and (max-width: 320px) {
	.mobileonly {
		display:block !important;
	}
	.mobileinlineb {
		display:inline-block !important;
	}
	.notmobile {
		display:none !important;
	}
}